@import '_nullstyle.scss';
@import '_fonts.scss';
@import '_variables.scss';
@import '_preloader.scss';
@import '_buttons.scss';
@import '_header.scss';
@import '_video-modal.scss';
@import './blocks/_main.scss';
@import './blocks/_services.scss';
@import './blocks/_course-program.scss';
@import './blocks/_check-list.scss';
@import './blocks/_work-examples.scss';
@import './blocks/for-whom.scss';
@import './blocks/_time.scss';
@import './blocks/_autor.scss';
@import './blocks/_feedback.scss';
@import './blocks/_why-canva.scss';
@import './blocks/skills.scss';
@import './blocks/design-skills.scss';
@import './blocks/_footer.scss';
@import './blocks/insta-layout';
@import './pages/_privacy.scss';
@import './pages/_thanks.scss';
@import './slider';
@import "node_modules/swiper/swiper-bundle";

body {
    font-family: 'Ubuntu';
    overflow-x: hidden;
    &.modal-opened {
        overflow-y: hidden;
    }
}

a{
    color: white;
}
.width-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1225px;
    padding: 0 20px;
}

.title {
    font-family: 'Ubuntu';
    font-weight: 700    ;
}

.swiper-slide {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.swiper-slide {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.play-button {
    position: absolute;
    width: 70px;
    height: 70px;
    background: url('../images/play-youtube.png');
    background-size: cover;
    border: none;
    cursor: pointer;
}



