.design-skills {
  padding: 93px 0 66px;
  position: sticky;
  z-index: 60;
  .icon {
    margin-top: 5px;
  }
  .dropdown {
    position: relative;
    border-radius: 10px;
    background-color: $white-color;
    box-shadow: 0px 0px 15px 5px rgba(25, 28, 37, 0.1);
    padding: 0px 30px 0px 30px;
    width: calc(100% - 27px);
    &:after {
      content: "";
      display: inline-block;
      transition: 0.3s all;
      position: absolute;
      background-color: rgb(200, 88, 188);
      width: 624px;
      height: 50px;
      z-index: -2;
      bottom: -5px;
      border-radius: 10px;
    }
  }
  .dropdown-outer {
    max-width: 700px;
    margin-bottom: 20px;
  }
  .dropdown-header {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: unset;
    height: 60px;
  }

  .dropdown-outer.active .lesson-title {
    color: #485079;
  }

  &__bg {
    position: absolute;
    right: 0;
    bottom: -38%;
    height: 648px;
    object-fit: cover;
    z-index: -20;
  }
  &__title {
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    color: #485079;
    margin-bottom: 19px;
  }
  .dropdown-outer.active .dropdown-header {
    border: unset;
    margin-bottom: unset;
  }
}

@media (max-width: 819px) {
  .design-skills {
    &__title {
      font-size: 23px;
    }
  }
}

@media (max-width: 819px) {
  .design-skills {
    &__title {
      font-size: 16px;
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 790px) {
  .design-skills {
    padding: 45px 0 66px;
    .dropdown {
      padding: 0px 12px 0px 12px;
      &:after {
        content: "";
        width: 84%;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

@media (max-width: 610px) {
  .design-skills {
    .lesson-title {
      font-size: 18px;
    }
    .dropdown-header {
      height: 50px;
    }
    .icon {
      margin-top: 0;
    }
    .dropdown-outer {
      margin-bottom: 15px;
    }
  }
}
