.for-whom {
  position: relative;
  background-image: url(../images/for-whom/for-whom__bg.png);
  width: 100vw;
  min-height: 923px;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0px 0px 36px;

  &__icon {
    position: absolute;
  }

  &__title {
    color: $white-color;
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    margin-top: 201px;
  }

  &__items {
    display: grid;
    justify-items: center;
    position: relative;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
    column-gap: 73px;
    margin-top: 37px;
  }
  &__card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__card__wrap {
    display: flex;
    justify-content: center;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px rgba(8, 49, 85, 0.1019607843);
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    min-height: 140px;
    max-width: 329px;
    position: relative;
    padding: 0px 7px 0px 56px;
  }

  &__card-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    min-width: 100px;
    height: 92px;
    background-image: url(../images/for-whom/icon-items/image-vector-2.svg);

    &-wrap {
      position: absolute;
      left: -47px;
      z-index: 1;
    }

    &-inner {
      height: 91px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 95px;
      background-size: cover;
      justify-content: center;
      position: absolute;
      top: -3px;
      left: 4px;
      background-image: url(../images/for-whom/icon-items/image-vector-1.svg);
    }
  }

  &__desc {
    text-align: center;
  }

  &__desc-subtitle {
    font-family: "Gilroy-Regular";
    max-width: 266px;
    font-size: 17px;
    text-align: left;
    line-height: 1.4;
    color: #485079;
    span {
      color: $secondary-color;
    }
  }
}

@media (max-width: 1725px) {
  .for-whom {
    &__items {
      grid-template-columns: repeat(3, 1fr);
      row-gap: 30px;
      column-gap: 33px;
    }
  }
}

@media (max-width: 1635px) {
  .for-whom {
    &__icon-bottom {
      bottom: 380px;
      right: 26px;
    }
    &__icon-left {
      bottom: 19px;
      left: 85px;
    }
  }
}

@media (max-width: 1408px) {
  .for-whom {
    min-height: 940px;
    &__items {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 16px;
      column-gap: 0px;
    }
    &__card__wrap {
      width: 70%;
      max-width: none;
    }
  }
}
@media (max-width: 963px) {
  .for-whom__title {
    font-size: 40px;
  }
}
@media (max-width: 883px) {
  .for-whom {
    background-image: url(../images/for-whom/for-whom__bg.png);
    z-index: -10;
    margin-top: -83px;
    min-height: 1369px;
    &__items {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 20px;
      column-gap: 0px;
      margin-top: 23px;
    }
    &__title {
      margin-top: 200px;
    }
    &__card {
      width: 100%;
    }
    &__card__wrap {
      padding: 20px 7px 20px 60px;
      align-items: flex-start;
      width: 100%;
    }
    &__desc-subtitle {
      font-size: 17px;
      max-width: 405px;
    }
    &__card-icon-wrap {
      position: unset;
      left: unset;
      margin-right: -54px;
    }
    br {
      display: none;
    }
  }
}
@media (max-width: 819px) {
  .for-whom__title {
    font-size: 30px;
  }
}
@media (max-width: 680px) {
  .for-whom {
    background-image: url(../images/for-whom/for-whom__bg-mobile-2.svg);
    min-height: unset;
    padding-top: 126px;
    padding-bottom: 97px;
    &__title {
      max-width: 360px;
      margin: 0px auto 0px;
    }
    &__card__wrap {
      min-height: unset;
    }
    &__desc-subtitle {
      font-size: 14px;
      width: 234px;
    }
    br {
      display: block;
    }
  }
}

@media (max-width: 445px) {
  .for-whom {
    background-image: url(../images/for-whom/bg-mobile.svg);
    min-height: 1030px;
    padding-bottom: 20px;
    padding-top: 115px;
  }
}