.for-whom {
  position: relative;
  background-image: url(../images/for-whom/for-whom__bg.png);
  width: 100vw;
  min-height: 845px;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0px 0px 36px;

  &__icon {
    position: absolute;
  }

  &__title {
    color: $white-color;
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    margin-top: 201px;
  }

  &__items {
    display: grid;
    justify-items: center;
    position: relative;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
    column-gap: 73px;
    margin-top: 37px;
  }
  &__card__wrap {
    display: flex;
    justify-content: center;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px rgba(8, 49, 85, 0.1019607843);
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    min-height: 140px;
    max-width: 329px;
    position: relative;
    padding: 0px 7px 0px 56px;
  }

  &__icon-items {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon-inner {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__desc {
    text-align: center;
  }

  &__desc-subtitle {
    font-family: "Gilroy-Regular";
    max-width: 266px;
    font-size: 17px;
    text-align: left;
    line-height: 1.4;
    color: #485079;
    span {
      color: $secondary-color;
    }
  }
}

@media (max-width: 1725px) {
  .for-whom {
    &__items {
      grid-template-columns: repeat(3, 1fr);
      row-gap: 30px;
      column-gap: 33px;
    }
  }
}

@media (max-width: 1635px) {
  .for-whom {
    &__icon-bottom {
      bottom: 380px;
      right: 26px;
    }
    &__icon-left {
      bottom: 19px;
      left: 85px;
    }
  }
}

@media (max-width: 1408px) {
  .for-whom {
    min-height: 940px;
    &__title {
      font-size: 46px;
    }
    &__items {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 16px;
      column-gap: 0px;
    }
    &__card__wrap {
      width: 70%;
      max-width: none;
    }
  }
}
@media (max-width: 883px) {
  .for-whom {
    background-image: url(../images/for-whom/for-whom__bg.png);
    z-index: -10;
    margin-top: -60px;
    min-height: 1369px;
    &__items {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 20px;
      column-gap: 0px;
      margin-top: 17px;
    }
    &__title {
      margin-top: 238px;
    }
    &__card__wrap {
      padding: 20px 7px 20px 56px;
      width: 70%;
    }
    &__desc-subtitle {
      font-size: 17px;
      max-width: 405px;
    }
    br {
      display: none;
    }
  }
}

@media (max-width: 680px) {
  .for-whom {
    background-image: url(../images/for-whom/for-whom__bg-mobile.svg);
    min-height: unset;
    padding-top: 104px;
    padding-bottom: 103px;
    &__title {
      max-width: 360px;
      font-size: 30px;
      margin: 0px auto 0px;
    }
    &__card__wrap {
      width: 304px;
      min-height: unset;
    }
    &__desc-subtitle {
      font-size: 14px;
      width: 230px;
    }
    br {
      display: block;
    }
  }
}
