@import "variables";

.insta-layout {
    margin-top: calc(100vw / 12.38 * -1);
    position: relative;
    background-image: url(../images/insta-layout/wave-large.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: calc(100vw / 12.38);
    padding-bottom: 90px;
    &__text {
        margin-top: -65px;
    }
    &__title {
        @include section-title;
        text-align: left;
        max-width: 666px;
        line-height: 1.1;
        margin-bottom: 46px;
    }
    &__subtitle {
        color: #083155;
        font-weight: 700;
        font-size: 22px;
        line-height: 1.6;
        max-width: 460px;
        letter-spacing: 0.8px;
    }
    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
     
    }
    &__phone {
        width: 289px;
        img {
            width: 100%;
        }
    }

}
@media (max-width: 630px) {
    .insta-layout {
        background-image: url(../images/insta-layout/wave-small.png);
         margin-top: calc(100vw / 5.9 * -1);
         padding-top: calc(100vw / 5.9 + 35px);
         padding-bottom: 82px;
        background-position-y: bottom;
     &__title {
        font-size: 30px;
        max-width: 284px;
        text-align: center;
        margin: 0 auto 8px;
        font-family: "Ubuntu Sans";
     }
     &__subtitle {
        font-size: 14px;
        max-width: 300px;
        text-align: center;
        margin-bottom: 17px;
     }
     &__content {
        flex-direction: column;
     }
     &__text {
        margin-top: unset;
     }
       
    }
}