@import "variables";
.mobile-photo {
  display: none;
}
.button-desktop {
  display: none;
}
.main {
  background-image: url(../images/bg-main.png);
  background-position: center;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100vw;
  background-color: #fff;
  background-repeat: no-repeat;
  position: relative;
  overflow-x: hidden;

  &__inner {
    position: relative;
    display: flex;
  }

  &__img {
    object-fit: cover;
    height: 93%;
    z-index: 10;
  }
  .bg-photo {
    position: absolute;
    left: -29px;
  }
  &__img__bg {
    right: 6px;

    position: absolute;

    height: 100%;
  }

  &__img__container {
    display: flex;
    position: relative;
    margin-left: auto;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
  }

  &__img_svg {
    position: absolute;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 35px;
    max-width: 650px;
    padding-bottom: 101px;
    z-index: 1;
  }
  &__desc {
    letter-spacing: 2px;
    font-size: 25px;
    color: #414978;
    font-family: "Gilroy-Regular";
    margin-bottom: 6px;
  }
  &__title {
    color: #414978;
    font-size: 100px;
    margin-left: -6px;
    margin-bottom: 30px;
    font-weight: 700;
    line-height: 1.1;
    span {
      color: $secondary-color;
      text-transform: uppercase;
      font-size: 100px;
    }
  }
  &__subtitle {
    font-family: "Gilroy-Regular";
    font-weight: 300;
    line-height: 1.5;
    max-width: 503px;
    font-size: 22px;
    padding-top: 42px;
    color: $primary-color;
    span {
      font-family: "Gilroy-Bold";
    }
  }
  &__price {
    margin: 18px 0px 35px;
    display: flex;
    align-items: baseline;
    color: $secondary-color;
    font-weight: 700;
    font-size: 45px;
    span {
      color: $span-color;
      font-weight: 300;
      font-size: 27px;
      margin-left: 25px;
      text-decoration: line-through;
    }
  }
  &__join {
    display: flex;
    align-items: center;
    gap: 41px;
  }
  &__timer {
    display: flex;
    max-width: 520px;
    font-family: "Gilroy-Medium";
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 86px;
    background-color: $background-color;
    border-top-right-radius: 45px;
    border-bottom-left-radius: 45px;
    align-self: flex-end;
    box-shadow: 0px 0px 12px 0px rgba(25, 28, 37, 0.1);
    &_text {
      font-family: "Gilroy-Regular";
      max-width: 67px;
      line-height: 1.3;
      font-size: 15px;
      color: $primary-color;
    }
    &_wrap {
      display: flex;
      justify-content: center;
      gap: 8px;
      span {
        display: flex;
        font-size: 20px;
        font-family: "Gilroy-Medium";
        justify-content: center;
        align-items: center;
      }
    }
  }
  .timer__inner {
    position: relative;
    display: inline-block;
    @include default-label-text;
  }
  .timer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #485079;
    font-size: 20px;
    font-weight: 500;
    background-image: url(../images/svg/circle.svg);
    width: 46px;
    height: 46px;
    gap: 8px;
  }
}
.spinner {
  position: absolute;
  width: 46px;
  height: 46px;
  border: 1px solid transparent;
  border-top: 2px solid #c858bc;
  border-radius: 50%;
}

.line {
  width: calc((100vw - 1180px) / 2 + 325px);
  margin-left: calc(0px - (100vw - 1180px + 237px) / 2);
}
.line-mobile {
  display: none;
}
@media (max-height: 850px) and (min-width: 1200px) {
  .main {
    &__content {
      margin-top: 30px;
    }
    &__desc {
      font-size: 26px;
    }
    &__title {
      font-size: 100px;
    }
    &__subtitle {
      font-size: 22px;
      padding-top: 25px;
    }
    &__price {
      font-size: 45px;
      margin: 18px 0px 35px;
      span {
        font-size: 27px;
      }
    }
    .line {
      width: calc((100vw - 1180px) / 2 + 326px);
    }
    .bg-photo {
      left: -40px;
    }
  }
}
@media (max-width: 1200px) {
  .main__join {
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
  }
  .main__content {
    align-items: flex-start;
    padding-bottom: 73px;
  }
  .main__img {
    height: 87%;
  }
  .bg-photo {
    left: -25px;
  }
  .main__title {
    font-size: 80px;
    span {
      font-size: 80px;
    }
  }
}
@media (max-width: 1180px) {
  .line {
    display: none;
  }
  .line-mobile {
    display: block;
    width: 312px;
    margin-left: -35px;
  }
  .main {
    &__subtitle {
      max-width: 50%;
    }
  }
}

@media (max-width: 900px) {
  .main .bg-photo {
    width: 458px;
    position: absolute;
    left: -22px;
  }
  .main__img {
    z-index: 0;
    height: 77%;
  }
}

@media (max-width: 850px) {
  .main {
    overflow-x: unset;
  }
  .main__timer {
    background-color: hsl(0deg 0% 100% / 58%);
    z-index: 20;
  }
  .bg-photo {
    display: none;
  }
}

@media (max-width: 800px) {
  .line-mobile {
    width: 212px;
  }
  .main {
    background-position: 66%;
    &__content {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: none;
    }
    &__title {
      font-size: 65px;
      margin-bottom: 12px;
      span {
        font-size: 65px;
      }
    }
    &__subtitle {
      padding-top: 16px;
      font-size: 20px;
      max-width: 280px;
    }
    &__price {
      align-items: flex-start;
      flex-direction: column-reverse;
      font-size: 50px;
      span {
        font-size: 30px;
        margin-left: 0;
      }
    }
    &__desc {
      font-size: 23px;
    }
  }
}

@media (max-width: 610px) {
  .desktop-photo {
    display: none;
  }
  .mobile-photo {
    display: inline-block;
  }
  .button-desktop {
    display: flex;
  }
  .button-mob {
    display: none;
  }
  .main {
    background-image: unset;
    .main__img__bg {
      right: -20px;
      bottom: -11px;
      position: absolute;
      height: 100%;
    }
    &__join {
      margin: 30px auto 0px;
    }
    &__img {
      height: 502px;
    }

    &__content {
      padding-bottom: 0px;
      margin-top: 14px;
    }
    &__title {
      font-size: 37px;
      span {
        font-size: 37px;
      }
    }
    &__subtitle {
      font-size: 17px;
      max-width: 220px;
    }
    &__desc {
      font-size: 14px;
      margin-bottom: 14px;
    }
    &__price {
      margin: 25px 0;
      font-size: 35px;
      gap: 9px;
      span {
        font-size: 20px;
      }
    }
  }
  .line-mobile {
    width: 155px;
  }
}

@media (max-width: 450px) {
  .main {
    background-position-y: bottom;
  }
}
